<head>
        <meta charset="utf-8" />
        <title>Easylink</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Easylink IoT Platform" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}">

     	<link rel="stylesheet" th:href="@{/plugins/select2/select2.min.css}">	<!-- must be BEFORE AdminLTE CSS -->
     
        <!-- App css -->
        <link href="../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link href="../assets/css/jquery-ui.min.css" th:href="@{/assets/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
        <link href="../assets/css/icons.min.css" th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <link href="../assets/css/metisMenu.min.css" th:href="@{/assets/css/metisMenu.min.css}" rel="stylesheet" type="text/css" />
        <link href="../assets/css/app.min.css" th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" />

 		<!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/js/metismenu.min.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/feather.min.js}"></script>
        <script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>  

        <!-- Sweet Alert -->
        <link th:href="@{/plugins/sweet-alert2/sweetalert2.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/plugins/animate/animate.css}" rel="stylesheet" type="text/css">
        <!-- Sweet-Alert  -->
        <script th:src="@{/plugins/sweet-alert2/sweetalert2.min.js}"></script>
        
        <!--Wysiwig js-->
        <script th:src="@{/plugins/tinymce/tinymce.min.js}"></script>
        <script th:src="@{/assets/pages/jquery.form-editor.init.js}"></script> 
        
        <script th:src="@{/plugins/select2/select2.min.js}"></script>
        	
        <!-- DataTables -->
        <link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
         <!-- Required datatable js -->
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
        <!-- Responsive datatable examples -->
<!--         <script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script> -->
<!--         <link th:src="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />  -->
        
<!--         <script	src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> -->
<!-- 		<link rel="stylesheet"	href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> -->
        
        <!-- Toggle -->
<!--         <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet"> -->
<!-- 		<script th:src="@{/js/bootstrap-toggle.min.js}"></script> -->

<!-- 		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> -->
<!-- 		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
	
    </head>

<script th:inline="javascript">
        function confirmDelete(id, deleteUrl) {
                console.log("Confirm delete " + id);
                Swal.fire({
                        title: 'Xác nhận xóa',
                        text: 'Bạn có chắc chắn muốn xóa?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Xóa',
                        cancelButtonText: 'Hủy',
                        reverseButtons: true,
                        confirmButtonColor: '#d33',
                        // Background color of the "Cancel"-button. The default color is #aaa
                        cancelButtonColor: '#3085d6',
                }).then((result) => {
                        // console.log("Result: " + JSON.stringify(result));
                        if (result.value) {
                                // Put your function here
                                console.log("Delete confirmed: " + id);
                                window.location.href = deleteUrl + id;
                        }
                })
        }
</script>