
<script type="text/javascript">
	$(document).ready(function () {
		$('#lstDevice').select2({
		});
		$('#lstGroup').select2({
		});

		if ($("#allDevice").is(":checked")) {
 	        $('#lstDevice').prop('disabled', 'disabled');
 	    }
 	    else {
 	        $('#lstDevice').prop('disabled', false);
 	    }
		 
        var isFormChanged = false;
        var isConfirmed = false;
        $("form :input").change(function() {
            console.log($(this).attr('name') + " has changed");
            isFormChanged = true;
            $("#isFormChanged").val(true);
        });
        
        $("#lstDevice").change(function() {
        	console.log("Device list has changed");
        	$("#isDeviceChanged").val(true);
        	$("#isFormChanged").val(true);
        });
		$("#lstGroup").change(function() {
			console.log("Group list has changed");
			$("#isGroupChanged").val(true);
			$("#isFormChanged").val(true);
		});
        
        $("#allDevice").change(function() {
        	console.log("allDevice checkbox change");
        	 if ($("#allDevice").is(":checked")) {
        	        $('#lstDevice').prop('disabled', 'disabled');
        	    }
        	    else {
        	        $('#lstDevice').prop('disabled', false);
        	    }
        });
        
        if($('#status').prop("checked")) {
            $('#statusLabel').text("Kích hoạt");
        } else {
        	$('#statusLabel').text("Khóa");
        }
    
	    $('#status').change(function() {
	        if(this.checked) {
	            $('#statusLabel').text("Kích hoạt");
	        } else {
	        	$('#statusLabel').text("Khóa");
	        }
	        
	    });
        
	});
</script>

<section class="content">

            <div class="col-xs-12">
			<div class="box box-info">

				<!-- form start -->
				<form class="form-horizontal form-parsley" th:action="@{/rule/save}" method="post">
				
					<input type="hidden" id="isFormChanged" name="isFormChanged" value="false">
<!-- 					<input type="hidden" id="isUserGroupChanged" name="isUserGroupChanged" value="false"> -->
					<input type="hidden" id="isDeviceChanged" name="isDeviceChanged" value="false">
					<input type="hidden" id="isGroupChanged" name="isGroupChanged" value="false">
					<input type="hidden" id="id" name="id" th:value="${rule.id}">
					
					<div class="box-body">
						<div class="form-group row">
							<label for="name" class="col-sm-3 col-form-label">Tên luật *</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="name" name="name" th:value="${rule.name}" required data-parsley-error-message="Tên luật không được bỏ trống">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 control-label text-right">Trạng thái</label>
							<div class="col-sm-5">
								<div class="custom-control custom-switch switch-primary">
									<input value="1" type="checkbox" name="status" class="custom-control-input" id="status" th:checked="${rule.status==1}">
									<label id="statusLabel" class="custom-control-label" for="status"></label>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="condition" class="col-sm-3 col-form-label">Điều kiện *</label>
							<div class="col-sm-5">
								<textarea class="form-control" id="condition" rows="3"	name="condition" required data-parsley-error-message="Điều kiện thực thi không được bỏ trống">[[${rule.condition}]]</textarea>
							</div>
							<div class="col-sm-1">
<!--								<button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#helpModal">-->
									<i class="dripicons-question" data-toggle="modal" data-target="#helpModal" style="font-size: 1.5em;"></i>
<!--								</button>-->
							</div>

						</div>
						<div class="form-group row">
							<label for="actionType" class="col-sm-3 col-form-label">Hành động</label>
							<div class="col-sm-5">
								<select id="actionType" class="form-control" name="actionType">
		                        	<option value="CreateAlarm">Tạo cảnh báo</option>
		                      </select>
							</div>
						</div>
						<div class="form-group row">
							<label for="alarmContent" class="col-sm-3 col-form-label">Nội dung cảnh báo *</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="alarmContent" name="alarmContent" th:value="${alarm.alarmContent}" required data-parsley-error-message="Nội dung cảnh báo không được bỏ trống">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Mức độ</label>
							<div class="col-sm-3">
								<select class="form-control select2" style="width: 100%;" name="alarmLevel">
								<option th:each="l : ${T(easylink.dto.AlarmLevel).values()}"
                					th:selected="${alarm.alarmLevel == l.name()}" th:value="${l}" th:text="${l}"></option>
                			
						</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="alarmType" class="col-sm-3 col-form-label">Loại cảnh báo (Tag)</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" id="alarmType" name="alarmType" th:value="${alarm.alarmType}">
							</div>
						</div>
						<div class="form-group row">
							<label for="lstDevice" class="col-sm-3 col-form-label">Thiết bị được áp dụng</label>
							<div class="col-sm-5">
							  <select id="lstDevice" class="form-control select2" style="width: 100%;" data-placeholder="Chọn thiết bị được áp dụng luật"
							  	name="deviceIds" multiple>
		                          <option th:each="s : ${allDevices}" th:value="${s.id}" th:selected="${devices !=null && devices.contains(s.id)}">[[${s.name}]]</option>
		                      </select>
							</div>

							<div class="col-sm-2 custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="allDevice" name="allDevice" th:checked="${rule.scope==1}">
								<label class="custom-control-label" for="allDevice">Tất cả</label>
							</div>
						</div>
						<div class="form-group row">
							<label for="lstGroup" class="col-sm-3 col-form-label">Nhóm được áp dụng</label>
							<div class="col-sm-5">
								<select id="lstGroup" class="form-control select2" style="width: 100%;" data-placeholder="Chọn nhóm được áp dụng luật"
										name="groupIds" multiple>
									<option th:each="s : ${allGroups}" th:value="${s.id}" th:selected="${groups !=null && groups.contains(s.id)}">[[${s.name}]]</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="interval" class="col-sm-3 col-form-label">Thời gian tối thiểu giữa các lần kích hoạt (giây)</label>
							<div class="col-sm-5">
								<input type="number" class="form-control" id="interval" name="interval" th:value="${rule.minInterval}" min="0">
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-5 text-right">
							<a th:href="@{/rule/}" class="btn btn-gradient-warning pull-left">[[#{back}]]</a>
							<a class="btn btn-gradient-danger" th:attr="onclick=|confirmDelete('${rule.id}','@{/rule/delete/}')|" href="#">[[#{delete}]]</a>
							<button type="submit" class="btn btn-gradient-primary" th:text="#{${action=='create'? 'save' : 'update'}}">Lưu</button>
						</div>
					</div>
					
				</form>
			</div>
		</div>
</section>

<div class="modal fade " id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="helpModalLabel">Hướng dẫn tạo điều kiện cảnh báo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body">
				<!-- Add your help content here -->
				<p><strong>Điều kiện cảnh báo là một công thức để xác định trường hợp sẽ kích hoạt cảnh báo.</strong></p>
				<p><strong>Cảnh báo sẽ được kích hoạt (theo cấu hình) khi biểu thức điều kiện đạt giá trị True.</strong></p>
				<p>Trong công thức điều kiện này hỗ trợ các toán tử AND, OR và cho phép so sánh / tính toán trên các trường của dữ liệu đầu vào.</p>
				<p>-&nbsp; C&aacute;c to&aacute;n tử so sánh:&nbsp; &nbsp;== (bằng nhau), != (khác), >=, <=</p>
				<p>-&nbsp; C&aacute;c to&aacute;n tử hỗ trợ:&nbsp; &nbsp;AND, OR</p>
				<p>- Phủ định:&nbsp; d&ugrave;ng dấu ! trước biểu thức cần phủ định</p>
				<p>- Lấy trường từ dữ liệu của thiết bị gửi l&ecirc;n:&nbsp;&nbsp;d&ugrave;ng k&yacute; hiệu # trước t&ecirc;n trường cần lấy</p>
				<p>- So sánh chuỗi (kiểu String):  #my_var.equals("chuỗi cần so sánh")</p>
				<p><strong>V&iacute; dụ 1 số biểu thức điều kiện:</strong></p>
				<p>- K&iacute;ch hoạt cảnh b&aacute;o khi điện &aacute;p vol1 &gt; 230 v&agrave; d&ograve;ng điện amp1 &lt;= 10:&nbsp; &nbsp; #vol1 &gt; 203 AND #amp1 &lt;= 10</p>
				<p>- K&iacute;ch hoạt cảnh b&aacute;o khi tổng điện &aacute;p 2 cảm biến &gt; 500V:&nbsp; &nbsp;(#vol1 + #vol2) &gt; 500</p>
				<p>- K&iacute;ch hoạt cảnh b&aacute;o khi cổng 1 hoặc cổng 2 bị mở:&nbsp; &nbsp;#door1==0 OR #door2==0</p>
				<p>- K&iacute;ch hoạt cảnh b&aacute;o khi cảm biến cur2 bị lỗi:  #cur2.equals("error")</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>