
<script type="text/javascript">
	$(document).ready(function () {
		$('#lstUserGroup').select2({
		});
		$('#parentId').select2();
		$('#lstDevice').select2();

		// Click event for the submit button
		$("#submitButton").click(function() {
			// Show the spinner
			$("#spinnerContainer").show();

			// Simulate an asynchronous action (e.g., form submission)
			// In a real scenario, you would replace this with your actual form submission logic
			setTimeout(function() {
				// Hide the spinner after the action is complete
				$("#spinnerContainer").hide();
			}, 3000); // Change this value to simulate the duration of your asynchronous action
		});

        var isFormChanged = false;
        var isConfirmed = false;
        $("form :input").change(function() {
            console.log($(this).attr('name') + " has changed");
            isFormChanged = true;
            $("#isFormChanged").val(true);
        });
        
        $("#lstUserGroup").change(function() {
        	console.log("UserGroup has changed");
        	$("#isUserGroupChanged").val(true);
        })

		$("#lstDevice").change(function() {
			console.log("DeviceGroup has changed");
			$("#isDeviceGroupChanged").val(true);
		})

        //console.log($('#status').prop("checked"));
        if($('#status').prop("checked")) {
                $('#statusLabel').text("Kích hoạt");
            } else {
            	$('#statusLabel').text("Khóa");
            }
        
        $('#status').change(function() {
            if(this.checked) {
                $('#statusLabel').text("Kích hoạt");
            } else {
            	$('#statusLabel').text("Khóa");
            }
        });

	});
</script>
<style>
	/* Centered Spinner Styles */
	#spinnerContainer {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1001; /* Place above the overlay */
		display: none; /* Initially hidden */
	}
</style>
<!-- Bootstrap Spinner -->
<div class="text-center" id="spinnerContainer" style="display: none;">
	<div class="spinner-border text-primary" role="status">
		<span class="sr-only">Đang xử lý...</span>
	</div>
	<p>Đang xử lý...</p>
</div>

<section class="content">

            <div class="col-xs-12">
			<div class="box box-info">
				<!-- form start -->
				<form class="form-horizontal form-parsley" th:action="@{/group/save}" method="post">
				
					<input type="hidden" id="isFormChanged" name="isFormChanged" value="false">
					<input type="hidden" id="isUserGroupChanged" name="isUserGroupChanged" value="false">
					<input type="hidden" id="isDeviceGroupChanged" name="isDeviceGroupChanged" value="false">
					<input type="hidden" id="id" name="id" th:value="${group.id}">
					
					<div class="box-body">
						<div class="form-group row">
							<label for="name" class="col-sm-3 control-label col-form-label">Tên nhóm *</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="name" name="name"
									   th:value="${group.name}" required data-parsley-error-message="Tên nhóm không được bỏ trống">
							</div>
						</div>
						<div class="form-group row" hidden>
							<label class="col-sm-3 control-label text-right">Trạng thái</label>
							<div class="col-sm-5">
								<div class="custom-control custom-switch switch-primary">
									<input value="1" type="checkbox" name="status" class="custom-control-input" id="status" th:checked="${group.status==1}">
									<label id="statusLabel" class="custom-control-label" for="status"></label>
								</div>
							</div>
						</div>
						<div class="form-group row" th:if="${group.id!=1}">
							<label for="parentId" class="col-sm-3 control-label col-form-label">Nhóm cha</label>
							<div class="col-sm-5">
								<select id="parentId" class="form-control select2" placeholder="Nhóm cha" name="parentId" >
<!--									<option value="0"></option>-->
									<option th:each="g : ${allGroups}" th:value="${g.id}" th:selected="${group.parentId!=null && group.parentId==g.id}" th:if="${g.id != group.id}">[[${g.name}]]</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="lstUserGroup" class="col-sm-3 control-label col-form-label">Người dùng trong nhóm</label>
							<div class="col-sm-5">
							  <select disabled id="lstUserGroup" class="form-control select2" style="width: 100%;" data-placeholder="" name="userIds" multiple>
		                          <option th:each="user : ${allUsers}" th:value="${user.id}" th:selected="${usernames!=null && usernames.contains(user.username)}">[[${user.username}]]</option>
		                      </select>
							</div>
						</div>
						<div class="form-group row">
							<label for="lstDevice" class="col-sm-3 control-label col-form-label">Trạm trong nhóm</label>
							<div class="col-sm-5">
								<select disabled id="lstDevice" class="form-control select2" style="width: 100%;" data-placeholder="" name="deviceIds" multiple>
									<option th:each="device : ${allDevices}" th:value="${device.id}" th:selected="${device.groupId == group.id}">[[${device.name}]]</option>
								</select>
							</div>
						</div>

					</div>
					<!-- /.box-body -->
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-5 text-right">
							<a th:href="@{/group/}" class="btn btn-gradient-warning pull-left">[[#{back}]]</a>
							<a th:if="${action!='create' && group.id!=1}" class="btn btn-danger" th:attr="onclick=|confirmDelete('${group.id}','@{/group/delete/}')|" href="#">[[#{delete}]]</a>
							<button id="submitButton" type="submit" class="btn btn-gradient-primary" th:text="#{${action=='create'? 'save' : 'update'}}">Lưu</button>
						</div>
					</div>
				</form>
			</div>
		</div>
</section>
