
<script type="text/javascript">
	$(document).ready(function () {
		$('#lstUserGroup').select2({
		});

        var isFormChanged = false;
        var isConfirmed = false;
        $("form :input").change(function() {
            console.log($(this).attr('name') + " has changed");
            isFormChanged = true;
            $("#isFormChanged").val(true);
        });
        
        $("#lstUserGroup").change(function() {
        	console.log("UserGroup has changed");
        	$("#isUserGroupChanged").val(true);
        })

        //console.log($('#status').prop("checked"));
        if($('#status').prop("checked")) {
                $('#statusLabel').text("Kích hoạt");
            } else {
            	$('#statusLabel').text("Khóa");
            }
        
        $('#status').change(function() {
            if(this.checked) {
                $('#statusLabel').text("Kích hoạt");
            } else {
            	$('#statusLabel').text("Khóa");
            }
            
        });
	});
</script>

<section class="content">

            <div class="col-xs-12">
			<div class="box box-info">
				<!-- form start -->
				<form class="form-horizontal form-parsley" th:action="@{/group/save}" method="post">
				
					<input type="hidden" id="isFormChanged" name="isFormChanged" value="false">
					<input type="hidden" id="isUserGroupChanged" name="isUserGroupChanged" value="false">
					<input type="hidden" id="id" name="id" th:value="${group.id}">
					
					<div class="box-body">
						<div class="form-group row">
							<label for="name" class="col-sm-3 control-label col-form-label">Tên nhóm *</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="name" name="name" th:value="${group.name}" required data-parsley-error-message="Tên nhóm không được bỏ trống">
							</div>
						</div>
						<div class="form-group row" hidden>
							<label class="col-sm-3 control-label text-right">Trạng thái</label>
							<div class="col-sm-5">
								<div class="custom-control custom-switch switch-primary">
									<input value="1" type="checkbox" name="status" class="custom-control-input" id="status" th:checked="${group.status==1}">
									<label id="statusLabel" class="custom-control-label" for="status"></label>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="parentId" class="col-sm-3 control-label col-form-label">Nhóm cha</label>
							<div class="col-sm-5">
								<select id="parentId" class="form-control" placeholder="Nhóm cha" name="parentId">
									<option value="0"></option>
									<option th:each="g : ${allGroups}" th:value="${g.id}" th:selected="${group.parentId!=null && group.parentId==g.id}" th:if="${g.id != group.id}">[[${g.name}]]</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="lstUserGroup" class="col-sm-3 control-label col-form-label">Người dùng trong nhóm</label>
							<div class="col-sm-5">
							  <select id="lstUserGroup" class="form-control select2" style="width: 100%;" data-placeholder="Select users" name="userIds" multiple>
		                          <option th:each="user : ${allUsers}" th:value="${user.id}" th:selected="${usernames!=null && usernames.contains(user.username)}">[[${user.username}]]</option>
		                      </select>
							</div>
						</div>

					</div>
					<!-- /.box-body -->
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-5 text-right">
							<a th:href="@{/group/}" class="btn btn-gradient-warning pull-left">[[#{back}]]</a>
							<a th:if="${action!='create'}" class="btn btn-danger" th:attr="onclick=|confirmDelete('${group.id}','@{/group/delete/}')|" href="#">[[#{delete}]]</a>
							<button type="submit" class="btn btn-gradient-primary" th:text="#{${action=='create'? 'save' : 'update'}}">Lưu</button>
						</div>
					</div>
				</form>
			</div>
		</div>
</section>
