<style>

.checkbox-group {
	margin-bottom: 10px; /* Add margin between groups */
}
</style>

<script type="text/javascript">
	$(document).ready(function () {
	    
		$("#page-title").html("Quản lý loại trạm");
		$('#lstDevice').select2();
	});
	function toggleCheckboxes() {
		var checkboxes = document.getElementsByClassName('my-checkbox');
		for (var i = 0; i < checkboxes.length; i++) {
			checkboxes[i].checked = !checkboxes[i].checked;
		}
	}
	function toggleAllCheckboxes(masterCheckbox) {
		var checkboxes = document.getElementsByClassName('my-checkbox');
		for (var i = 0; i < checkboxes.length; i++) {
			checkboxes[i].checked = masterCheckbox.checked;
		}
	}
	function validateAndSubmit() {
		var checkboxes = document.getElementsByClassName('my-checkbox');
		var atLeastOneChecked = false;

		for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked) {
				atLeastOneChecked = true;
				break;
			}
		}

		if (atLeastOneChecked) {
			document.getElementById('myForm').submit();
		} else {
			Swal.fire("Phải chọn ít nhất 1 cảm biến!");
		}
	}
</script>

<section class="content">

            <div class="col-xs-12">
			<div class="box box-info">

				<!-- form start -->
				<form id="myForm" class="form-horizontal form-parsley"  th:action="@{/dtype/save}" method="post">
					<input type="hidden" id="id" name="id" th:value="${deviceType.id}">
					<div class="box-body">
						<div class="form-group row">
							<label class="col-sm-3 control-label col-form-label">Tên  *</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="name"	name="name" th:value="${deviceType.name}"
									   required data-parsley-error-message="Tên loại trạm không được bỏ trống">
							</div>
						</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Mô tả</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="description"	name="description" th:value="${deviceType.description}">
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 control-label col-form-label">Cảm biến có sử dụng</label>
						<div class="col-sm-5">
<!--							<button type="button" class="btn btn-gradient-info" onclick="toggleCheckboxes()">Toggle Checkboxes</button>-->

							<div class="checkbox">
								<input id="masterCheckbox" onchange="toggleAllCheckboxes(this)" type="checkbox">
								<label for="masterCheckbox">
									Chọn/Bỏ chọn tất cả
								</label>
							</div>
							<div class="checkbox checkbox-success form-check-inline" th:each="field : ${allFields}">
								<input  class="form-check-input my-checkbox" type="checkbox" th:id="${field}" th:name="selectedFields" th:value="${field}"
									   th:checked="${myFields!=null && myFields.contains(field)}"/>
								<label class="form-check-label" th:for="${field}" th:text="${field}"></label>
							</div>

						</div>
					</div>
					<div class="form-group row" th:if="${action!='create'}">
						<label for="lstDevice" class="col-sm-3 control-label col-form-label">Trạm thuộc loại này</label>
						<div class="col-sm-5">
							<select disabled id="lstDevice" class="form-control select2" style="width: 100%;" data-placeholder="" name="deviceIds" multiple>
								<option th:each="device : ${devices}" th:selected="${device.typeId==id}" th:value="${device.id}">[[${device.name}]]</option>
							</select>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-5 text-right">
							<button type="button" class="btn btn-gradient-warning pull-left" onclick="history.back()">
									<i class="fa fa-close"></i> [[#{back}]]
							</button>
							<a th:if="${action!='create' AND session.isAdmin AND session.isRoot}" href="#"
							   class="btn btn-gradient-danger"
							   th:attr="onclick=|confirmDelete('${deviceType.id}', '@{/dtype/delete/}')|">Xóa</a>
							<button th:if="${session.isAdmin && session.isRoot}" type="button" onclick="validateAndSubmit()"
									class="btn btn-gradient-primary">Lưu</button>
						</div>
					</div>
					
				</form>
			</div>
		</div>
</section>
