
<script type="text/javascript">
	function goBack() {
	  window.history.back();
	}
	function validate() {
		console.log("validate");
		var new1 = $('#newPassword').val();
		var new2 = $('#confirmPassword').val();
		if (new1 != new2) {
			//window.alert("Confirm Password does not match");
			$('#lblCheckPassword').show();
		} else
			$('#changePassword').submit();
	}
</script>

<section class="content">

            <div class="col-xs-12">
			<div class="box box-info">

				<!-- form start -->
				<form class="form-horizontal" id="changePassword" method="post" th:action="@{/user/updatePassword}">
				
					<div class="box-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">Mật khẩu hiện tại</label>
							<div class="col-sm-5">
								<input autocomplete="off"  class="form-control" id="oldPassword" name="oldPassword" type="password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Mật khẩu mới</label>
							<div class="col-sm-5">
								<input autocomplete="off"  class="form-control" id="newPassword" name="newPassword" type="password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Nhập lại mật khẩu</label>
							<div class="col-sm-5">
								<input autocomplete="off"  class="form-control" id="confirmPassword" name="confirmPassword" type="password">
							</div>
						</div>
						<div style="display:none" id="lblCheckPassword" class="form-group">
							<label class="col-sm-2 control-label"></label>
							<label class="col-sm-5 text-danger pull-left" >Nhập lại mật khẩu không chính xác!</label>
						</div>
						
						<div class="form-group">
							<div class="col-sm-5">
								<label onclick="goBack()" class="btn btn-gradient-danger pull-left">Hủy</label>
								<button type="button" onclick="validate();" class="btn btn-gradient-primary pull-right" >Xác nhận</button>
							</div>
						</div>
						
					</div>		<!-- /.box-body -->					
				</form>
			</div>
		</div>

</section>
