<!-- <script src="../static/js/vpager.js"  th:src="@{/js/vpager.js}"></script> -->

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"
	th:href="@{/css/dataTables.bootstrap.min.css}">

<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"
	th:src="@{/js/jquery.dataTables.min.js}"></script>
<script
	src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"
	th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<style>
	.dataTables_filter {
	   display: none;		// hide datatable default search box to use our search input
	}
</style>
<script src="../static/js/quickj/vpager.js"  th:src="@{/js/quickj/vpager.js}"></script>

<script type="text/javascript">
$(document).ready(function () {
    $('#startDate').datepicker({
    	 format: "dd/mm/yyyy",
    	 language: "vi",
    	 todayHighlight: true,
    	 todayBtn: true,
    	 autoclose: true
    });
    $('#endDate').datepicker({
   	 format: "dd/mm/yyyy",
   	 language: "vi",
   	 todayHighlight: true,
   	 todayBtn: true,
   	 autoclose: true
   });
	$('#lstUserGroup').select2({
	});
	$('#lstUserRole').select2({
	});

});


function updatePlate() {
	alert("update plate");
}

</script>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>Kiểm tra biển số</h1>
	<th:block th:replace="layouts/fragments/breadcrum"></th:block>
</section>
<section class="content">
	<div class="box box-default">
		<div class="box-header with-border">
			<form action="/traffic/checkAlpr" method="get" id="searchForm">
			
			<!-- Hidden input to support paging -->
			<input type="hidden" name="page" id="page" th:value="${page}">
			<input type="hidden" name="pageSize" id="pageSize" th:value="${pageSize}">

				<div class="row">
					<label for="lstCamera" class="col-sm-2 control-label">Chọn Camera</label>
					<div class="col-sm-4">
						<select id="lstCamera" class="form-control select2"
							style="width: 100%;" data-placeholder="Chọn Camera"
							name="selectedCam">
							<option value="0" th:selected="${0==selectedCam}">Tất cả</option>
							<option th:value="${c.id}" th:each="c : ${cameras}"
								th:selected="${c.id==selectedCam}">[[${c.name}]]</option>
						</select>
					</div>
					<label class="col-sm-2 control-label">Từ ngày</label>
					<div class="col-sm-4">
						<input name="startDate" id="startDate" th:value="${startDate}">
					</div>
				</div>
				<div class="row">

					<label class="col-sm-2 control-label">Loại vi phạm</label>
					<div class="col-sm-4">
						<select class="form-control select2" style="width: 100%;"
							name="eventType">
							<option value="all" th:selected="${eventType=='all'}">Tất cả</option>
							<option value="parking" th:selected="${eventType=='parking'}">Lỗi dừng đỗ</option>
							<option value="alpr" th:selected="${eventType=='alpr'}">Nhận diện biển số</option>
							<option value="direction" th:selected="${eventType=='direction'}">Đi ngược chiều</option>
							<option value="traffic_light"
								th:selected="${eventType=='traffic_light'}">Vượt đèn đỏ</option>
						</select>
					</div>
					<label class="col-sm-2 control-label">Đến ngày</label>
					<div class="col-sm-4">
						<input name="endDate" id="endDate" th:value="${endDate}">
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 control-label">Loại phương tiện</label>
					<div class="col-sm-4">
						<select class="form-control select2" style="width: 100%;"
							name="vehicleType">
							<option value="all" th:selected="${vehicleType=='all'}">Tất	cả</option>
							<option value="motorbike" th:selected="${vehicleType=='motorbike'}">Xe máy</option>
							<option value="car" th:selected="${vehicleType=='car'}">Xe	ô tô con</option>
							<option value="truck" th:selected="${vehicleType=='truck'}">Xe	tải</option>
							<option value="bus" th:selected="${vehicleType=='bus'}">Xe	buýt</option>
							<option value="bicycle" th:selected="${vehicleType=='bicycle'}">Xe	đạp</option>
						</select>
					</div>

					<div class="col-lg-6 cold-md-6 col-sm-6 col-xs-6">
						<div class="">
							<button type="submit" class="btn btn-primary">Tìm kiếm</button>
						</div>
					</div>
				</div>
			</form>
			
		</div>
		<div class="box-body">
			<table class="table table-bordered" id="mainTable">
			<thead>
				<tr>
					<th style="width: 20px" align="center">STT</th>
					<th>Thời gian vi phạm</th>
					<th>Ảnh biển</th>
					<th>Biển số nhận diện</th>
					<th>Biển số đúng</th>
					<th>Loại xe</th>					
					<th>Kết quả nhận diện</th>
					<th>Thao tác</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v,iterationStatus  : ${violations.content}">
					<td th:text="${iterationStatus.count + violations.number * violations.size}">1</td>
					<td th:text="${#dates.format(v.eventTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
					<td><img class="img-responsive" th:src="${v.plateCapture}" alt="Photo"></td>
					<td th:text="${v.alprPlate == null? v.vehiclePlate:v.alprPlate}"></td>
					<td><input type="text" name="correctPlate" th:value="${v.vehiclePlate}"></input></td>
					<td th:text="${v.vehicleType}"></td>					
					<div th:switch="${v.status}">
						<td th:case="'1'">Nhận đúng</td>
						<td th:case="'0'">Chưa xác nhận</td>
						<td th:case="2">Nhận sai</td>
					</div>
					<td><button onClick="updatePlate()" >Xác nhận</button></td>
				</tr>
			</tbody>
			</table>
		</div>
		
		<div class="row">
		    <ul class="pager">
		    	<li ><a th:href="'javascript:jumpPage(\'searchForm\',\'' + 1 + '\');'">Trang đầu</a></li>
		        <li th:class="${violations.first} ? disabled" ><a th:href="'javascript:jumpPage(\'searchForm\',\'' + ${violations.number} + '\');'">&larr; Trang trước</a></li>
		        <li th:text="${'Trang ' + (violations.number+1) + '/' + violations.totalPages + ' - Tổng số: ' + violations.totalElements}"></li>
		        <li th:class="${violations.last} ? disabled"><a th:href="'javascript:jumpPage(\'searchForm\',\'' + ${violations.number+2} + '\');'">Trang sau &rarr;</a></li>
		        <li ><a th:href="'javascript:jumpPage(\'searchForm\',\'' +  ${violations.totalPages} + '\');'">Trang cuối</a></li>
		       	
		    </ul>
		</div>
		
	</div>
</section>
